:root {
  --black: #000000;
  --white: #ffffff;
}

.artist_image {
  margin: 0;
}

.container_find_more {
  display: flex;
  flex-direction: row;
}

.container_find_more2 {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_year_title {
  display: flex;
  flex-direction: column;
}

.container_artist_country {
  justify-content: flex-start;
}

.artist_year {
  justify-content: center;
  margin-top: 0;
  font-size: 1em;
}

.container_artist_country {
  display: flex;
}

.artist_container_time_location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.artist_title {
  font-size: 2em;
  margin-bottom: -5em;
  margin-top: 0;
}

.artist_country {
  font-size: 1.8em;
  margin-top: 0;
}

/* styling of elements */

.container_display_artist1 {
  padding: 1em;
}

.artist_location,
.artist_when {
  font-weight: bold;
  margin-bottom: -1em;
}

.artist_year,
.artist_title,
.artist_country,
.artist_location,
.artist_location_input,
.artist_when,
.artist_when_input,
.find__more {
  text-transform: uppercase;
  font-family: montserrat;
}

.artist_description {
  max-width: 60ch;
  font-family: montserrat;
  font-size: 16px;
  line-height: 2em;
}

#article_fetch_artist {
  display: flex;
  flex-direction: column;
}

.container_display_artist2 {
  display: contents;
}

.artist_image {
  order: -1;
}

@media only screen and (min-width: 1050px) {
  /* Containers for the articles that fetch data */

  .artist_year {
    justify-content: center;
    margin-top: 0;
    font-size: 1.5em;
    color: grey;
  }

  .container_display_artist2 {
    display: block;
  }

  #article_fetch_artist {
    flex-direction: row;
  }

  .artist_container_time_location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .artist_description {
    font-size: 1.3em;
  }

  .artist_container_time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #article_fetch_artist {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }

  .container_year_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container_artist_country {
    display: flex;
  }

  .container_display_artist1 {
    padding: 1em;
  }

  .container_display_artist2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
  }

  /* styling of elements */

  .artist_image {
    max-width: 30em;
  }
}

/* Graphics for SoMe icons */

.input__soundcloud {
  background-image: url("../graphics/soundcloud.svg");
  height: 30px;
  width: 30px;
  margin: 0.5em;
}

.input__instagram {
  background-image: url("../graphics/instagram.svg");
  background-repeat: none;
  height: 30px;
  width: 30px;
  margin: 0.5em;
}

.input__vimeo {
  background-image: url("../graphics/vimeo.svg");
  background-repeat: none;
  height: 30px;
  width: 30px;
  margin: 0.5em;
}

.input__youtube {
  background-image: url("../graphics/youtube.svg");
  background-repeat: none;
  height: 30px;
  width: 30px;
  margin: 0.5em;
}

/* Displaying the icons dark or bright */

.bright_some {
  opacity: 15%;
}

.dark_some {
  opacity: 100%;
}
