/* styling used for the landing page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

/* Images bottom of the page  */

.blue_pic {
  background-image: url(../graphics/blue.png);
}

.purple_pic {
  background-image: url(../graphics/purple.png);
}

.yellow_pic {
  background-image: url(../graphics/yellow.png);
}

/* containers  */

.index_cont1 {
  min-height: 100vh;
}
.index_cont2 {
  background-color: var(--blue);
  min-height: 5vh;
  display: flex;
}

.index_cont3 {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "dance", "montserrat-reg", sans-serif;
  letter-spacing: 0.2em;
  color: var(--beige);
}

.index_cont3 p {
  margin-top: 3em;
  font-family: "montserrat-reg", sans-serif;
  color: var(--beige);
}

.index_intro {
  /* background-color: var(--darkgreen); */
  width: 80vw;
  margin: 6vh 3vh 6vh;
  /* display: flex; */
  /* justify-self: center; */
}

.index_isla {
  background-color: var(--black);
  margin-bottom: 6em;
  display: flex;
}

.index_isla img {
  width: 100%;
}

.index_cont4 {
  display: flex;
  flex-direction: column;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-lineupNames {
  position: relative;
  text-align: center;
}

.lineup_header {
  mix-blend-mode: difference;
  font-family: dance;
  letter-spacing: 0.2em;
  padding: 1em 0.8em;
  font-size: 2rem;
  color: var(--beige);
}

.lineup_text {
  mix-blend-mode: exclusion;
  font-family: Montserrat-med;
  text-transform: capitalize;
  font-variant: small-caps;
  /* padding: 1em; */
  word-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 1rem;
  color: var(--beige);
  margin: 0 3em 2em;
}

button {
  mix-blend-mode: difference;
  background: none;
  border: 1px solid var(--beige);
  border-radius: 50px;
  color: var(--beige);
  letter-spacing: 0.2em;
  padding: 1.2em 1.5em 1em;
  text-decoration: none;
  margin: 4em 2em;
  font-family: dance;
}

.index_cont5 {
  margin: 3em 0em;
  background-color: var(--black);
  min-height: 5vw;
}

.qr-txt,
.qr-code {
  display: none;
}

.index_cont5 p {
  color: var(--beige);
}

.buy-txt {
  display: grid;
  grid-template-columns: fit-content(10%) fit-content(90%);
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2em 4em;
}

.no-1,
.no-2,
.no-3 {
  color: var(--beige);
  font-size: 3em;
  justify-self: end;
  padding-right: 0.25em;
}

.no-1,
.no-2,
.no-3,
.no-1-txt,
.no-2-txt,
.no-3-txt {
  align-self: center;
}

.no-1-txt {
  grid-column: 2;
  grid-row: 1;
}

.buy-txt p,
.buy-txt h4 {
  font-family: montserrat-reg;
}

.cont-qr-store {
  margin: 2em 0;
}

.cont_stores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont_stores a {
  margin: 0.5em 4em 0;
  max-width: 300px;
}

.index_cont7,
.index_cont8 {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_cont8 {
  padding-bottom: 4rem;
}

.card-cont {
  max-width: 80vw;
  margin: 0 auto;
}

.cont7_box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0rem;
  width: 80vw;
  height: 80vw;
  margin: 0;
  border-radius: 15px;
  display: flex;
}

.cont7_box:nth-child(1),
.cont7_box:nth-child(2) {
  margin-bottom: 0.5em;
}

.box_heading {
  font-family: dance;
  font-size: 4vw;
  text-align: left;
  padding: 1em;
  max-width: 5ch;
  letter-spacing: 0.2em;
  align-self: flex-end;
  color: var(--beige);
}

.cont8_box {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: 0rem; */
  width: 100%;
  height: 20vh;
  margin: 0.5em 1em;
  border-radius: 15px;
  display: flex;
}

/* Animation */

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
}

.marquee2 {
  font-size: 1.5rem;
  font-family: "dance", "montserrat-reg", sans-serif;
  letter-spacing: 0.1em;
  animation: animate 60s linear infinite;
  /* padding-left: 10%; */
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
}

.marquee_container {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee3 {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1em;
  animation: animate 60s linear infinite;
  /* padding-left: 10%; */
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
}

.marquee2 p {
  margin: 1vw 4vw 0vw;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (min-width: 900px) {
  .index_cont3 {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
  }

  .cont7_box {
    width: 100%;
    height: 100%;
  }

  .index_intro {
    /* height: 50vw; */
    width: 50vw;
    margin: 0;
    padding-left: 4em;
    /* margin-left: 6em; */
  }

  .index_isla {
    background-color: var(--black);
    /* height: 50vw; */
    width: 50vw;
    margin: 0;
    display: flex;
  }

  .index_cont4 {
    width: 100vw;
  }

  .index-lineupNames {
    max-width: 80vw;
    margin: 5em 0;
  }

  .flex-section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 50vw;
    margin: auto;
    padding: 4rem 0;
  }

  .cont-qr-store {
    padding-right: 2rem;
  }

  .buy-txt {
    max-width: 50vw;
    margin: 0;
  }

  .qr-txt,
  .qr-code {
    display: inline-block;
  }

  .appstore-txt,
  .cont_stores {
    display: none;
  }

  .card-cont {
    display: grid;
    grid-template-columns: fit-content(90vw);
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    margin: 0 auto 8rem;
    justify-content: center;
  }

  .index_cont7 {
    grid-row: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cont7_box {
    min-width: 25vw;
    min-height: 25vw;
    cursor: pointer;
    margin: 0;
  }

  .cont7_box:nth-child(1),
  .cont7_box:nth-child(2) {
    margin: 0 1em 0 0;
  }

  .index_cont8 {
    grid-row: 2;
    padding: 0;
    height: 25vw;
  }

  .cont8_box {
    margin: 0;
    height: inherit;
  }

  .box_heading {
    font-size: 3vw;
    padding: 1em;
    max-width: 5ch;
    letter-spacing: 0.2em;
  }

  .viewBtn:hover {
    background-color: var(--darkgreen);
  }
}

/* we might need to create special cut-offs for cont3 */
@media only screen and (min-width: 1200px) {
  .index_cont3 {
  }
}
