/* styling used for the landing page */

@font-face {
  font-family: dance;
  src: url("../fonts/dancefont.ttf") format("truetype");
}

:root {
  --black: #282323;
  --white: #ffffff;
  --yellow: #fffc91;
  --lightgreen: #d9fec2;
  --darkgreen: #24553f;
  --red: #fc573f;
  --darkred: #761b22;

  --beige: #fff8da;
  --orange: #f9a049;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

/* containers - remove min-height when there is content */

.index_cont1 {
  background-color: var(--white);
  min-height: 60vw;
  display: flex;
}

.index_cont2 {
  background-color: var(--yellow);
  min-height: 5vw;
  display: flex;
}

.index_cont3 {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index_intro {
  background-color: var(--darkgreen);
  height: 80vw;
  min-width: 80vw;
  margin-top: 6em;
  display: flex;
  justify-self: center;
}

.index_isla {
  background-color: var(--white);
  height: 80vw;
  min-width: 80vw;
  margin-bottom: 6em;
  display: flex;
}

.index_cont4 {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.index-lineupNames {
  text-align: center;
  padding: 1em;
}

.lineup_header {
  font-family: dance;
  letter-spacing: 0.2em;
  padding: 1em;
  font-size: 34px;
  color: var(--beige);
}

.lineup_text {
  font-family: Montserrat;
  padding: 1em;
  font-size: 25px;
  color: var(--beige);
  margin-bottom: 2em;
}

.viewBtn {
  border: 1px solid var(--beige);
  border-radius: 15px;
  color: var(--beige);
  letter-spacing: 0.2em;
  padding: 1em;
  text-decoration: none;
  margin: 1em;
  font-family: dance;
}

.viewBtn:hover {
  background-color: var(--darkgreen);
}

.index_cont5 {
  background-color: var(--darkgreen);
  min-height: 5vw;
}

.index_cont6 {
  background-color: var(--lightgreen);
  min-height: 15vw;
  display: flex;
}

.index_cont7 {
  background-color: var(--yellow);
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont7_box {
  min-width: 80vw;
  min-height: 40vw;
  background-color: var(--darkred);
  margin: 1em;
  border-radius: 25px;
  display: flex;
}

.box_heading {
  font-family: dance;
  font-size: 6vw;
  text-align: left;
  padding: 0.5em;
  max-width: 5ch;
  letter-spacing: 0.2em;
  align-self: flex-end;
  color: var(--beige);
}

.index_cont8 {
  background-color: var(--black);
  min-height: 15vw;
}

@media only screen and (min-width: 900px) {
  .index_cont3 {
    flex-direction: row;
  }

  .index_intro {
    height: 50vw;
    min-width: 40vw;
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
  }

  .index_cont7 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cont7_box {
    min-width: 30vw;
    min-height: 30vw;
    cursor: pointer;
  }

  .box_heading {
    font-size: 3vw;
    padding: 1em;
    max-width: 5ch;
    letter-spacing: 0.2em;
  }

  .index_isla {
    background-color: var(--white);
    height: 50vw;
    min-width: 60vw;
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
  }
}
